<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gambino_serra.condomanager_fornitore.tesi">

    <uses-permission android:name="com.damico.gianluca.sei.kiuapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CondoManager Fornitore"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Utente.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Utente.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Utente.RegisterActivity"
            android:label="@string/title_register"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Utente.RegisterAmministratoreActivity"
            android:label="@string/title_register"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Utente.RegisterFornitoreActivity"
            android:label="@string/title_register"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Fornitore.Home.FornitoreHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Condomino.Home.CondominoHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.Segnalazione.DetailsSegnalazione"
            android:label="@string/title_details_segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.Home.AmministratoreHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.Home.AmministratoreHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.Segnalazione.SegnalazioneCategoria"
            android:label="Nuovo ticket da segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.Segnalazione.DetailsSegnalazione"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.Segnalazione.SegnalazioneFornitore"
            android:label="Nuovo ticket da segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.Segnalazione.SegnalazioneCategoria"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.Segnalazione.SegnalazioneDescrizione"
            android:label="Nuovo ticket da segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.Segnalazione.SegnalazioneFornitore"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketInCorso.DetailsTicketInCorso"
            android:label="Dettaglio ticket"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.Home.AmministratoreHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketRifiutato.DetailsTicketRifiutato"
            android:label="Dettaglio ticket"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.Home.AmministratoreHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketRifiutato.TicketCategoria"
            android:label="Rinvia ticket segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketRifiutato.DetailsTicketRifiutato"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketRifiutato.TicketFornitore"
            android:label="Rinvia ticket segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketRifiutato.TicketCategoria"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketRifiutato.TicketDescrizione"
            android:label="Rinvia ticket segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketRifiutato.TicketFornitore"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.TicketCompletato.DetailsTicketCompletato"
            android:label="Dettaglio ticket"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.Home.AmministratoreHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketCondominio"
            android:label="Nuovo Ticket"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.Home.AmministratoreHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketCondomino"
            android:label="Nuovo Ticket"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketCondominio"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketCategoria"
            android:label="Nuovo Ticket"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketCondomino"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketFornitore"
            android:label="Nuovo Ticket"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketCategoria"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketDescrizione"
            android:label="Nuovo Ticket"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Amministratore.NuovoTicket.TicketFornitore"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Fornitore.RichiestaIntervento.DetailsRichiestaIntervento"
            android:label="Descrizione intervento"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Fornitore.Home.FornitoreHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Fornitore.InterventoInProgramma.DetailsInterventoInProgramma"
            android:label="Descrizione intervento"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Fornitore.Home.FornitoreHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Fornitore.InterventoCompletato.DetailsInterventoCompletato"
            android:label="Rapporto intervento"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Fornitore.Home.FornitoreHomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Condomino.BachecaSegnalazione.DetailsBachecaSegnalazione"
            android:label="Dettaglio segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Condomino.Home.CondominoHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gambino_serra.condomanager_fornitore.View.Condomino.SegnalazioneRisolta.DetailsSegnalazioneRisolta"
            android:label="Dettaglio segnalazione"
            android:parentActivityName="com.gambino_serra.condomanager_fornitore.View.Condomino.Home.CondominoHomeActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>